@model PaginatedList<RealEstateMVC.Models.Offer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["OfferTypeSortParam"]" asp-route-page="@Model.PageIndex">@Html.DisplayNameFor(x => x.GetEnumerator().Current.OfferType)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EstateTypeSortParam"]" asp-route-page="@Model.PageIndex">@Html.DisplayNameFor(x => x.GetEnumerator().Current.EstateType)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NumberSortParam"]" asp-route-page="@Model.PageIndex">@Html.DisplayNameFor(x => x.GetEnumerator().Current.Number)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AreaSortParam"]" asp-route-page="@Model.PageIndex">@Html.DisplayNameFor(x => x.GetEnumerator().Current.Area)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParam"]" asp-route-page="@Model.PageIndex">@Html.DisplayNameFor(x => x.GetEnumerator().Current.Price)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OfferType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstateType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.OfferId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.OfferId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.OfferId  })
            </td>
        </tr>
}
    </tbody>
</table>
<nav>
    @{
        string hasPreviousPage = Model.HasPreviousPage ? "page-item" : "page-item disabled";
        string hasNextPage = Model.HasNextPage ? "page-item" : "page-item disabled";
    }
    <ul class = "pagination">
        <li class="@hasPreviousPage">
            <a class="page-link" asp-controller="Offer" asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" asp-route-sortOrder="@ViewData["CurrentSort"]" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        @for(int i = 1; i <= Model.PageCount; ++i)
        {
            string isActive = (i == Model.PageIndex) ? "page-item active" : "page-item";
            <li class="@isActive">
                <a class="page-link" asp-controller="Offer" asp-action="Index" asp-route-page="@i" asp-route-sortOrder="@ViewData["CurrentSort"]">
                    @i
                </a>
            </li>
        }
        <li class="@hasNextPage">
            <a class="page-link" asp-controller="Offer" asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" asp-route-sortOrder="@ViewData["CurrentSort"]" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
